@import url("../index.css");

.cabecalho {
    padding: 13px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.15);
}

.link-dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}